body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Расстояние между основными блоками */
    min-height: 100vh;
}

h1 {
    background-color: #222; /* Темный фон */
    color: #f7c15c; /* Золотистый текст */
    border: 2px solid #444; /* Тонкая граница */
    border-radius: 10px; /* Скругленные углы */
    padding: 15px 20px; /* Внутренний отступ */
    margin-bottom: 20px; /* Отступ снизу */
    font-family: 'Courier New', Courier, monospace; /* Моносистемный шрифт */
    font-size: clamp(24px, 3vw, 32px); /* Адаптивный размер текста */
    text-align: center; /* Центрирование текста */
    text-transform: uppercase; /* Верхний регистр для заголовков */
    letter-spacing: 2px; /* Межбуквенный интервал */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Тень */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход */
}

    h1:hover {
        background-color: #333; /* Светлее при наведении */
        color: #e6e6e6; /* Нежный серый текст */
    }

    h1::before {
        content: "🎉 "; /* Эмодзи перед текстом */
    }

    h1::after {
        content: " 🎉"; /* Эмодзи после текста */
    }


.card {
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
    text-align: center;
    padding: 20px; /* Увеличенный отступ */
    box-sizing: border-box; /* Учет padding в ширине */
}

.count-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.count-button {
    background-color: #444;
    color: #fff;
    font-size: clamp(16px, 2vw, 20px); /* Адаптивный размер кнопок */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .count-button:hover {
        background-color: #555;
    }

.count-input {
    width: 60px;
    text-align: center;
    font-size: clamp(16px, 2vw, 18px); /* Адаптивный размер текста */
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #444;
    background-color: #222;
    color: #fff;
}

.input-hint {
    display: block;
    margin-top: 5px;
    font-size: 12px; /* Размер текста для подсказки */
    color: #f5a623; /* Цвет текста (можно изменить на любой другой) */
    font-style: italic; /* Наклонный текст */
}


@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }
}
